<template name="Disclaimer">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<h2 id="page_title" align="center">
							Disclaimer
						</h2>
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
				{{> DisclaimerLoremIpsum}}
			</div>
		</div>
	</div>
	<div>

	</div>
</template>

<template name="DisclaimerLoremIpsum">
	{{#markdown}}
	
	{{/markdown}}
</template>
