<template name="Join">
	<div class="page-container container">
		<div class="row">
			<div class="col-md-12" id="content">
				<div class="row" id="title_row">
					<div class="col-md-12">
						<h2 id="page_title" align="center">
							Work with Us
						</h2>
						<div id="page_menu" class="pull-right">
						</div>
					</div>
				</div>
				{{> JoinLoremIpsum}}
			</div>
		</div>
	</div>
</template>

<template name="JoinLoremIpsum">
	<br>{{#markdown}}<p align="center">Neither this organization nor the website is about publishing entertaining news, jokes, movie promotion videos, lifestyle trends or any such content. There are plenty of other websites for that. We built this website to gather those individuals who are concerned about their country and its problems. This website is about making it possible for the people to raise their voice against the wrongs, inspiring people to be better and spreading awareness among people of this great country.</p><br><p align="center">Help us do that, be a part of this organization !</p>
	<div align="center"><table style="width:80%" align="center"><tr align="center"><td>
<a rel="gallery-2" draggable="true" class="swipebox" title="Node Js Devs">
	<img src="/images/join/dev.png" height=75 width=75 alt="image"></a><br><br>Developers<br>
<a rel="gallery-2" class="swipebox" draggable="true" title="Lawyers">
	<img src="/images/join/law1.png" height=75 width=75 alt="image"></a><br><br>Lawyers<br></td>
<td><a rel="gallery-2" class="swipebox" draggable="true" title="Writers">
	<img src="/images/join/writer.png" height=75 width=75 alt="image"></a><br><br>Writers<br>
<a rel="gallery-2" class="swipebox" draggable="true" title="Photographers">
	<img src="/images/join/photo.png" height=75 width=75 alt="image"></a><br><br>Photographers<br></td>
<td><a rel="gallery-2" class="swipebox" draggable="true" title="Whistleblowers">
	<img src="/images/join/whist.png" height=75 width=75 alt="image"></a><br><br>Whistleblowers<br>
<a rel="gallery-2" class="swipebox" draggable="true" title="Volunteers">
	<img src="/images/join/vol.png" height=75 width=75 alt="image"></a><br><br>Volunteers<br></td></tr></table>
</div>

	 <br><p align="center"><br><a href="https://mail.google.com/mail/?view=cm&fs=1&to=join[at]underpin[dot]co[dot]in&su=&body=BODY&bcc=" target="_blank"><i class="zmdi zmdi-border-color"></i></a></p><p align="center"><b>join</b>[at]<b>underpin</b>[dot]<b>co</b>[dot]<b>in</b></p>{{/markdown}}

</template>
