<template name="LegalW">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> LegalWLoremIpsum}}
	</div>
</template>

<template name="LegalWLoremIpsum">
	{{#markdown}}<p align="justify">With our Advice section, we provide you advice related to issues pertaining to several forms of law. We have a group of lawyers experienced in providing you with the counsel you need. </p><h2>How does it work</h2><p align="justify"> Just browse to <a href="/services/legal/new">Ask for advice</a> and we will get your queries. We do require you to enter valid contact information, for us to get back to you with solutions. Your queries will be responded to within a week or less.</p> <p align ="justify">Since the amount of information we will be receiving is limited, it would reflect on the scope of advice and may not cover all of your concerns. Make sure to be clear when putting your question.</p><hr><p align="justify">For more information, or in case of any doubts please refer to our <a href="/about/faq">FAQ</a> section.</p>{{/markdown}}
</template>

